@charset "utf-8";

._6_oDJw { object-fit: contain; }

.J4zgsA, ._6_oDJw { height: 100%; width: 100%; }

.J4zgsA { align-items: center; background-color: rgb(224, 224, 224); display: flex; justify-content: center; }

.t6Iz9w { font-size: 14px; }