@charset "utf-8";

._9sCIzQ { box-sizing: border-box; display: flex; min-height: 100%; overflow: hidden; position: relative; }

.wNGpBA { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }

._6i3kwQ { box-sizing: border-box; isolation: isolate; width: 100%; }

._6i3kwQ, .xIuERA { display: flex; flex-direction: column; flex-grow: 1; }

.nr22_Q:not(:focus-within) ::selection { background: transparent; }

.vhG7mw { box-sizing: border-box; display: flex; flex-direction: column; flex-grow: 1; isolation: isolate; width: 100%; }

._1MkJMA { flex-grow: 0; }

.wYAs1w { isolation: auto; }

._4ILOcQ { color-scheme: unset; forced-color-adjust: unset; math-depth: unset; position: relative; position-anchor: unset; text-size-adjust: unset; appearance: unset; color: unset; font: unset; font-palette: unset; font-synthesis: unset; position-area: unset; text-orientation: unset; text-rendering: unset; text-spacing-trim: unset; -webkit-font-smoothing: unset; -webkit-locale: unset; -webkit-text-orientation: unset; -webkit-writing-mode: unset; writing-mode: unset; zoom: unset; accent-color: unset; place-content: unset; place-items: unset; place-self: unset; alignment-baseline: unset; anchor-name: unset; anchor-scope: unset; animation-composition: unset; animation: unset; animation-trigger: unset; app-region: unset; aspect-ratio: unset; backdrop-filter: unset; backface-visibility: unset; background: unset; background-blend-mode: unset; baseline-shift: unset; baseline-source: unset; block-size: unset; border-block: unset; border: unset; border-radius: unset; border-collapse: unset; border-end-end-radius: unset; border-end-start-radius: unset; border-inline: unset; border-start-end-radius: unset; border-start-start-radius: unset; inset: unset; box-decoration-break: unset; box-shadow: unset; box-sizing: border-box; break-after: unset; break-before: unset; break-inside: unset; buffered-rendering: unset; caption-side: unset; caret-animation: unset; caret-color: unset; caret-shape: unset; clear: unset; clip: unset; clip-path: unset; clip-rule: unset; color-interpolation: unset; color-interpolation-filters: unset; color-rendering: unset; columns: unset; column-fill: unset; gap: unset; column-rule: unset; column-span: unset; contain: unset; contain-intrinsic-block-size: unset; contain-intrinsic-size: unset; contain-intrinsic-inline-size: unset; container: unset; content: unset; content-visibility: unset; corner-shape: unset; corner-block-end-shape: unset; corner-block-start-shape: unset; counter-increment: unset; counter-reset: unset; counter-set: unset; cursor: unset; cx: unset; cy: unset; d: unset; display: flex; dominant-baseline: unset; dynamic-range-limit: unset; empty-cells: unset; field-sizing: unset; fill: unset; fill-opacity: unset; fill-rule: unset; filter: unset; flex-basis: unset; flex-direction: column; flex-grow: 1; flex-shrink: unset; flex-wrap: unset; float: unset; flood-color: unset; flood-opacity: unset; grid: unset; grid-area: unset; height: unset; hyphenate-character: unset; hyphenate-limit-chars: unset; hyphens: unset; image-orientation: unset; image-rendering: unset; initial-letter: unset; inline-size: unset; inset-block: unset; inset-inline: unset; interactivity: unset; interest-delay: unset; interpolate-size: unset; isolation: unset; letter-spacing: unset; lighting-color: unset; line-break: unset; list-style: unset; margin-block: unset; margin: unset; margin-inline: unset; marker: unset; mask: unset; mask-type: unset; math-shift: unset; math-style: unset; max-block-size: unset; max-height: unset; max-inline-size: unset; max-width: unset; min-block-size: unset; min-height: unset; min-inline-size: unset; min-width: unset; mix-blend-mode: unset; object-fit: unset; object-position: unset; object-view-box: unset; offset: unset; opacity: unset; order: unset; orphans: unset; outline: unset; outline-offset: unset; overflow-anchor: unset; overflow-block: unset; overflow-clip-margin: unset; overflow-inline: unset; overflow-wrap: unset; overflow: unset; overlay: unset; overscroll-behavior-block: unset; overscroll-behavior-inline: unset; overscroll-behavior: unset; padding-block: unset; padding: unset; padding-inline: unset; page: unset; page-orientation: unset; paint-order: unset; perspective: unset; perspective-origin: unset; pointer-events: unset; position-try: unset; position-visibility: unset; print-color-adjust: unset; quotes: unset; r: unset; reading-flow: unset; reading-order: unset; resize: unset; rotate: unset; ruby-align: unset; ruby-position: unset; rx: unset; ry: unset; scale: unset; scroll-behavior: unset; scroll-initial-target: unset; scroll-margin-block: unset; scroll-margin: unset; scroll-margin-inline: unset; scroll-marker-group: unset; scroll-padding-block: unset; scroll-padding: unset; scroll-padding-inline: unset; scroll-snap-align: unset; scroll-snap-stop: unset; scroll-snap-type: unset; scroll-target-group: unset; scroll-timeline: unset; scrollbar-color: unset; scrollbar-gutter: unset; scrollbar-width: unset; shape-image-threshold: unset; shape-margin: unset; shape-outside: unset; shape-rendering: unset; size: unset; speak: unset; stop-color: unset; stop-opacity: unset; stroke: unset; stroke-dasharray: unset; stroke-dashoffset: unset; stroke-linecap: unset; stroke-linejoin: unset; stroke-miterlimit: unset; stroke-opacity: unset; stroke-width: unset; tab-size: unset; table-layout: unset; text-align: unset; text-align-last: unset; text-anchor: unset; text-autospace: unset; text-box: unset; text-combine-upright: unset; text-decoration: unset; text-decoration-skip-ink: unset; text-emphasis: unset; text-emphasis-position: unset; text-indent: unset; text-justify: unset; text-overflow: unset; text-shadow: unset; text-transform: unset; text-underline-offset: unset; text-underline-position: unset; text-wrap: unset; timeline-scope: unset; timeline-trigger: unset; touch-action: unset; transform: unset; transform-box: unset; transform-origin: unset; transform-style: unset; transition: unset; translate: unset; trigger-scope: unset; user-select: unset; vector-effect: unset; vertical-align: unset; view-timeline: unset; view-transition-class: unset; view-transition-group: unset; view-transition-name: unset; visibility: unset; border-spacing: unset; -webkit-box-align: unset; -webkit-box-decoration-break: unset; -webkit-box-direction: unset; -webkit-box-flex: unset; -webkit-box-ordinal-group: unset; -webkit-box-orient: unset; -webkit-box-pack: unset; -webkit-box-reflect: unset; -webkit-line-break: unset; -webkit-line-clamp: unset; -webkit-mask-box-image: unset; -webkit-rtl-ordering: unset; -webkit-ruby-position: unset; -webkit-tap-highlight-color: unset; -webkit-text-combine: unset; -webkit-text-decorations-in-effect: unset; -webkit-text-fill-color: unset; -webkit-text-security: unset; -webkit-text-stroke: unset; -webkit-user-drag: unset; white-space-collapse: unset; widows: unset; width: unset; will-change: unset; word-break: unset; word-spacing: unset; x: unset; y: unset; z-index: unset; }

.Mh7mQg { clip: rect(1px, 1px, 1px, 1px); border: 0px; clip-path: inset(50%); height: 1px; margin: 0px; overflow: hidden; padding: 0px; white-space: nowrap; width: 1px; }

.Mh7mQg, .o_7gvw { position: absolute; }

.o_7gvw { background-color: rgb(255, 255, 255); border-radius: calc(var(--wfznTw)/16*8px); bottom: calc(var(--wfznTw)*-1/16*5px); filter: drop-shadow(0 calc(var(--wfznTw)/16*1px) calc(var(--wfznTw)/16*6px) #0004); max-width: 100%; padding: calc(var(--wfznTw)/16*4px) calc(var(--wfznTw)/16*8px); right: calc(var(--qMNgbA)*.9px - var(--wfznTw)/16*15.5px); text-align: end; transform: translateY(100%); z-index: 1; }

.o_7gvw::before { border-bottom: calc(var(--wfznTw)/16*7px) solid #fff; border-left: calc(var(--wfznTw)/16*7px) solid transparent; border-right: calc(var(--wfznTw)/16*7px) solid transparent; border-top: 0px; content: ""; height: 0px; position: absolute; right: calc(var(--wfznTw)/16*10.5px); top: calc(var(--wfznTw)/16*2px); transform: translateY(-100%); width: 0px; }

.dAwWRA { align-items: center; background-color: var(--dayejg); border-radius: 12px; border-width: 0px; box-sizing: border-box; cursor: pointer; display: flex; justify-content: center; width: 100%; }

.dAwWRA.oKt_Cg:hover { background-color: var(--1PG0Mg); }

.dAwWRA.oKt_Cg:active { background-color: var(--9P_0YQ); }

.dAwWRA:disabled { pointer-events: none; }

.HLJxlw { background-color: var(---3Rdqg); cursor: default; }

.kpt6Eg { background-color: var(--1y49lg); }

._1TTelg { align-items: center; cursor: inherit; display: flex; justify-content: center; }

.dAwWRA:focus-within { box-shadow: inset 0 0 0 1px var(--Cjk51Q); }

.lLyTrw { gap: var(--CEwLjw); display: grid; grid-template-columns: repeat(var(--W5t64A),minmax(var(--7BjzEw),1fr)); height: 100%; justify-items: center; width: 100%; }

.r4VAMw { align-items: center; background-color: var(--hMlWEg); border-radius: 12px; border-width: 0px; box-sizing: border-box; display: flex; justify-content: center; width: 100%; }

.r4VAMw.SMPq5g:hover { background-color: var(---127VA); }

.r4VAMw.SMPq5g:active { background-color: var(--9x4z1A); }

.r4VAMw:disabled { pointer-events: none; }

.UpIThA { background-color: var(--GtGNYg); cursor: default; }

.jc6y_A { background-color: var(--W5Lfog); }

.aOiRWQ { align-items: center; display: flex; justify-content: center; }

.r4VAMw:focus-within { box-shadow: inset 0 0 0 1px var(--r8_7Tw); }

.ybpBnQ { position: relative; }

._3v99oA { position: absolute; right: var(--3tgqzg); top: 50%; transform: translateY(-50%); }

.iaCeXQ { display: grid; height: 100%; width: 100%; }

.rSeRzQ { display: block; }

.kdZGyA, .rSeRzQ { position: relative; }

.jptFCw { opacity: 0; visibility: hidden; white-space: nowrap; }

.wTQg_g { right: 0px; top: 0px; }

.EP8SeA, .wTQg_g { position: absolute; }

.EP8SeA { inset: 0px; margin: 0px; opacity: 0; }

.EP8SeA:disabled { pointer-events: none; }

.VTAQRg { align-items: center; background-color: var(--_v6jRQ); border-radius: var(--T5edVA); display: flex; justify-content: space-between; overflow: hidden; position: relative; }

.Buj71Q { background-color: var(--CGAV4g); }

.VTAQRg:not(.zMViSA) { cursor: pointer; }

.EP8SeA, .rSeRzQ { cursor: inherit; }

.zt5zlQ.A_ugOA:hover { background-color: var(--6wmixw); }

.zt5zlQ.A_ugOA:active { background-color: var(--LX33kQ); }

.zSZK5w { padding-right: calc(var(--XYYx_A)*2.5); }

._5MHe6g { display: flex; position: absolute; right: var(--XYYx_A); top: 50%; transform: translateY(-50%); }

.gBYSAw { overflow: visible; }

.GpAzFg { background-color: var(--60vMXA); height: 100%; left: 0px; position: absolute; width: 50%; }

.bHM4Bw { align-items: center; display: grid; grid-template-columns: auto 1fr; min-height: calc(var(--KBfK1Q) + var(--KBfK1Q)/4 + var(--KBfK1Q)/4); }

.n4ooaw { background-color: transparent; border: calc(var(--KBfK1Q)/16) solid var(--THA9bg); border-radius: calc(var(--KBfK1Q)/4); box-sizing: border-box; display: block; height: var(--KBfK1Q); margin-block-end: calc(var(--KBfK1Q)/4); margin-block-start: calc(var(--KBfK1Q)/4); margin-inline-end: calc(var(--KBfK1Q)/2); margin-inline-start: calc(var(--KBfK1Q)/4); width: var(--KBfK1Q); }

.Jw4Eqw { background-color: var(--THA9bg); background-image: var(--HgMgMg); background-position: 50% center; background-repeat: no-repeat; }

.Rw_cTw { background: transparent; border: 0px; box-sizing: border-box; cursor: pointer; height: 100%; padding: 2px; text-align: center; width: 100%; }

.Rw_cTw:disabled { pointer-events: none; }

.Rw_cTw.g0Fw6w { cursor: default; }

.Rw_cTw:not(.g0Fw6w) { cursor: pointer; }

.Rw_cTw:focus-within { box-shadow: inset 0 0 0 1px var(--4yIcLg); }

.DsSAig { position: relative; }

.Xz8a5Q { line-height: 0; position: absolute; right: var(--ozZJmw); top: 50%; transform: translateY(-50%); }

.XsCoFw { bottom: var(--ozZJmw); line-height: 0; transform: translateY(0px); }

.oA1OOg { background-color: var(--fS0DFQ); border: none; border-radius: 24px; opacity: var(--L3TJlA); width: 100%; }

.oA1OOg:not(:disabled) { cursor: pointer; }

.oA1OOg.MkpYkA:hover { background-color: var(--MD0Pqg); }

.oA1OOg.MkpYkA:active { background-color: var(--DFILqA); }

.oA1OOg:disabled { pointer-events: none; }

.RUKPJg { background-color: var(--Fr9rFw); cursor: not-allowed; }

.J8N9SA, .Wql4tQ { display: flex; justify-content: center; padding-top: 2px; }

.GuCAHg { box-sizing: border-box; }

._0UCMkA { text-decoration: none; }

.FnpX4Q { box-sizing: border-box; position: relative; }

.n9ICbQ { inset: 0px; position: absolute; }